@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="navbar-nav nav-flex-icons">
            <li class="nav-item">
                <a href="@Url.Action("Index","Manage")" class="nav-link waves-effect">
                    <i></i>Hola @User.Identity.GetUserName() !
                </a>
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()" class="nav-link">Log off</a></li>
        </ul>
    }
}
else
{
    <ul class="navbar-nav nav-flex-icons">
        <li class="nav-item">
            <a id="loginlink" href="@Url.Action("Login","Account")" ,class="nav-link waves-effect">
                <i class="fa fa-sign-in-alt text-secondary"></i>Login
            </a>
        </li>
    </ul>
}
